@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5>Política de Privacidade</h5>
        <p>Esta é uma aplicação de demonstração para gestão de tarefas.</p>
        
        <h6>Dados Coletados</h6>
        <ul>
            <li>Informações de funcionários (nome, posição, gênero)</li>
            <li>Dados de tarefas (título, prazo, status, tipo)</li>
            <li>Credenciais de usuário (função, senha)</li>
        </ul>
        
        <h6>Uso dos Dados</h6>
        <p>Os dados são utilizados exclusivamente para o funcionamento do sistema de gestão de tarefas.</p>
        
        <h6>Segurança</h6>
        <p>Implementamos medidas básicas de segurança para proteger suas informações.</p>
    </div>
</div>